<a href="https://colab.research.google.com/github/dnjswnsthd/bnk_py/blob/develop/python_workshop02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Workshop Tips Query<h1>

# 목표
다양한 Indexer를 이용한 원하는 데이터 질의

In [ ]:
import numpy as np
import pandas as pd

# 데이터 로딩
* 파일명 : tips.csv
* 사용함수 : pd.read_csv()

In [ ]:
url = 'https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1'
file = 'tips.csv'
import os
if os.name == 'posix':
  !wget -O $file $url
else:
  !pip install wget
  import wget
  wget.download(url, out=file)

--2022-09-15 03:31:24--  https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.85.18, 2620:100:6030:18::a27d:5012
Connecting to www.dropbox.com (www.dropbox.com)|162.125.85.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/dl/6hcpx66uwecoq0c/tips.csv [following]
--2022-09-15 03:31:25--  https://www.dropbox.com/s/dl/6hcpx66uwecoq0c/tips.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com/cd/0/get/Bs-suYkOije7cGHC1ARzcdh7o7KN33zpawuIfwVO1RO30BFQRpo0P5yfe82JO-6XSIiGBeFJWU7tPvaHFxT56xrl9aRd5mexJ1X1L4Hw43hPJAadyBMOHEUHbt3jO5rJzuvcXjqcJ8NCDFJRT3lL4F8yA0FHbYt0aHwfXwmLV2rDZQ/file?dl=1# [following]
--2022-09-15 03:31:25--  https://uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com/cd/0/get/Bs-suYkOije7cGHC1ARzcdh7o7KN33zpawuIfwVO1RO30BFQRpo0P5yfe82JO-6XSIiGBeFJWU7tPvaHFxT56xrl9aRd5mexJ1X1L4Hw43hPJAadyBMOHEUHbt3jO5rJzuvcXjqcJ8NCDFJRT3lL4F8yA0FHbYt0aHwfXwmLV2rDZQ/file?dl=1
Resolving uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com (uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com)... 162.125.7.15, 2620:100:6031:15::a27d:510f
Connecting to uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com (uc91be775ce4026403cbca5125e4.dl.dropboxusercontent.com)|162.125.7.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9729 (9.5K) [application/binary]
Saving to: ‘tips.csv’

tips.csv            100%[===================>]   9.50K  --.-KB/s    in 0s

2022-09-15 03:31:26 (125 MB/s) - ‘tips.csv’ saved [9729/9729]

In [ ]:
tips = pd.read_csv('tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Q. tip을 $5이상 지불한 행을 조회하고 tip금액이 높은 순으로 정렬하세요.

In [55]:
tips.query('tip >= 5').sort_values(by='tip', ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
214       28.17   6.50  Female    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
239       29.03   5.92    Male     No   Sat  Dinner     3
88        24.71   5.85    Male     No  Thur   Lunch     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
172        7.25   5.15    Male    Yes   Sun  Dinner     2
155       29.85   5.14  Female     No   Sun  Dinner     5
116       29.93   5.07    Male     No   Sun  Dinner     4
185       20.69   5.00    Male     No   Sun  Dinner     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
11        35.26   5.00  Female     No   Sun  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
143       27.05   5.00  Female     No  Thur   Lunch     6
83        32.68   5.00    Male    Yes  Thur   Lunch     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
39        31.27   5.00    Male     No   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5

In [ ]:
tips[tips['tip'] >= 5].sort_values(by='tip', ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
214       28.17   6.50  Female    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
239       29.03   5.92    Male     No   Sat  Dinner     3
88        24.71   5.85    Male     No  Thur   Lunch     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
172        7.25   5.15    Male    Yes   Sun  Dinner     2
155       29.85   5.14  Female     No   Sun  Dinner     5
116       29.93   5.07    Male     No   Sun  Dinner     4
185       20.69   5.00    Male     No   Sun  Dinner     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
11        35.26   5.00  Female     No   Sun  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
143       27.05   5.00  Female     No  Thur   Lunch     6
83        32.68   5.00    Male    Yes  Thur   Lunch     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
39        31.27   5.00    Male     No   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5

## Q. total_bill의 10% 이상을 tip으로 지불한 행을 조회하고 total_bill이 높은 순으로 10건만 표시하세요.

In [57]:
tips.query('tip >= total_bill * 0.1').sort_values('total_bill', ascending=False).head(10)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
197       43.11   5.00  Female    Yes  Thur   Lunch     4
142       41.19   5.00    Male     No  Thur   Lunch     5
95        40.17   4.73    Male    Yes   Fri  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
238       35.83   4.67  Female     No   Sat  Dinner     3

In [ ]:
tips[tips['tip'] >= (tips['total_bill']*0.1)].sort_values('total_bill', ascending=False).head(10)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
197       43.11   5.00  Female    Yes  Thur   Lunch     4
142       41.19   5.00    Male     No  Thur   Lunch     5
95        40.17   4.73    Male    Yes   Fri  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
238       35.83   4.67  Female     No   Sat  Dinner     3

## Q. total_bill을 $40이상 지불하고 tip을 total_bill의 10% 미만으로 지불한 행을 구하세요.

In [58]:
tips.query('total_bill >= 40 & tip < total_bill * 0.1')

     total_bill  tip     sex smoker  day    time  size
102       44.30  2.5  Female    Yes  Sat  Dinner     3
182       45.35  3.5    Male    Yes  Sun  Dinner     3
184       40.55  3.0    Male    Yes  Sun  Dinner     2

In [ ]:
tips[(tips ['total_bill'] > 40) & (tips['tip'] < tips['total_bill']*0.1)]

     total_bill  tip     sex smoker  day    time  size
102       44.30  2.5  Female    Yes  Sat  Dinner     3
182       45.35  3.5    Male    Yes  Sun  Dinner     3
184       40.55  3.0    Male    Yes  Sun  Dinner     2

## Q. tip을 $10 이상 지불한 남성(Male)이 있는 행을 구하세요.

In [61]:
tips.query('tip >= 10 & sex == "Male"')

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
tips[(tips['tip'] >= 10) & (tips['sex'] == 'Male')]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

## Q. 주말(Sat, Sun) 저녁(Dinner)에 혼자인 행을 구하세요.

In [62]:
tips.query('day in ["Sat", "Sun"] & time == "Dinner" & size == 1')

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
111        7.25  1.0  Female     No  Sat  Dinner     1

In [ ]:
tips[((tips['day'] == 'Sat') | (tips['day'] == 'Sun')) & (tips['time'] == 'Dinner') & (tips['size'] == 1)]

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
111        7.25  1.0  Female     No  Sat  Dinner     1

In [48]:
tips[(tips['day'].isin(['Sat', 'Sun'])) & (tips['time'] == 'Dinner') & (tips['size'] == 1)]

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
111        7.25  1.0  Female     No  Sat  Dinner     1

## Q. total_bill 과 tip의 평균을 구하세요.

In [ ]:
tips[['total_bill', 'tip']].mean()

total_bill    19.785943
tip            2.998279
dtype: float64

In [ ]:
tips[['total_bill', 'tip']].agg(['mean']) #약간의 꼼수 agg는 원래 여러개 하려고하는거기때문

      total_bill       tip
mean   19.785943  2.998279

In [ ]:
tips.agg(['mean'])[['total_bill', 'tip']]

      total_bill       tip
mean   19.785943  2.998279

## Q. total_bill, tip, size의 최대 값과 최소 값을 구하세요.

In [ ]:
tips[['total_bill', 'tip', 'size']].agg(['max', 'min'])

     total_bill   tip  size
max       50.81  10.0     6
min        3.07   1.0     1

## Q. 여성(Female)과 남성(Male) 각각, 가장 total_bill을 많이 지불한 행을 조회하세요.

In [41]:
cond_f = tips['sex'] == 'Female'
cond_m = tips['sex'] == 'Male'

max_f = tips.loc[cond_f, 'total_bill'].max()
max_m = tips.loc[cond_m, 'total_bill'].max()

tips[(cond_f & (tips['total_bill'] == max_f)) |
     (cond_m & (tips['total_bill'] == max_m))]

     total_bill   tip     sex smoker  day    time  size
102       44.30   2.5  Female    Yes  Sat  Dinner     3
170       50.81  10.0    Male    Yes  Sat  Dinner     3

In [65]:
tips.query('(@cond_m & total_bill == @max_m) | (@cond_f & total_bill == @max_f)')

     total_bill   tip     sex smoker  day    time  size
102       44.30   2.5  Female    Yes  Sat  Dinner     3
170       50.81  10.0    Male    Yes  Sat  Dinner     3

## Q. 남성과 여성의 흡연자 수를 각각 구하세요.

In [45]:
tips.loc[tips['smoker'] == 'Yes', 'sex'].value_counts()

Male      60
Female    33
Name: sex, dtype: int64

## Q. 주말(토,일요일) 저녁, 남성의 일행 수의 평균을 구하세요.

In [54]:
tips.loc[(tips['day'].isin(['Sat', 'Sun'])) & (tips['sex'] == 'Male'), 'size'].mean()

2.7264957264957266